@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding

@using ContractHome.Helper
@using ContractHome.Controllers
@using ContractHome.Models.DataEntity
@using ContractHome.Models.ViewModel
@using CommonLib.Utility
@using Newtonsoft.Json
@{
  Layout = "~/Views/Shared/MasterPage.cshtml";
  String _validCode;
  String _encryptedCode;

  _validCode = 6.CreateRandomStringCode();
  _encryptedCode = _validCode.EncryptData();
}
<main id="forgetPassword" class="login__wrapper bg-secondary">
  <div class="login__forgetPassword">
    <form ref="form" v-on:submit.prevent id="forgetPwdForm" novalidate accept-charset="UTF-8" role="form" method="post"
      autocomplete="off">
      <div class="card mb-3 p-5 shadow">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <img src="~/images/uxSign-logo.png" class="forgetPwd py-3">
              <h3 class="py-3 text-center fw-bolder">重設密碼</h3>
            </div>
            <p class="mb-1">請輸入您註冊時使用的email，我們將發送重設密碼說明給您</p>
            <div class="col-12 input__loginHeight">
              <label for="userAccount" class="fw-bolder">帳號</label>
              <input v-model="pid" type="text" id="userAccount" class="form-control form-control-sm"
                :class="{'is-invalid': !isPid}" name="userAccount" autofocus v-on:keyup="checkPid">
              <div class="invalid-feedback">
                請輸入帳號
              </div>
            </div>
            <div class="col-12 input__loginHeight">
              <label for="email" class="fw-bolder">Email</label>
              <input v-model="email" type="email" id="email" class="form-control form-control-sm"
                :class="{'is-invalid': !isEmail}" name="email" v-on:keyup="checkEmail">
              <div class="invalid-feedback">
                請輸入有效的電子郵件地址
              </div>
            </div>
            <div class="col-12 input__loginHeight">
              <label for="ValidCode" class="fw-bolder">驗證碼</label>
              <div class="d-flex justify-content-between">
                <div class="col-7">
                  <input v-model="validCode" type="text" id="ValidCode" class="form-control form-control-sm"
                    :class="{'is-invalid': !isValidCode}" name="ValidCode" v-on:keyup="checkValidCode">
                  <div class="invalid-feedback">
                    請輸入驗證碼
                  </div>
                </div>
                <div class="col captchaImg"
                  style="background-image: url('@Html.Raw(Url.Action("CaptchaImg", "Account", new { code = _encryptedCode }))')">
                </div>
              </div>
            </div>
            <div class="col-12 pt-4">
              <button type="button" class="btn btn-lg btn-primary w-100" v-on:click="forgetPwdHandler" elevation="2">
                送出</button>
            </div>
            <div class="col-12 pt-5 text-center">
              <a class="btn btn-light" href="@(Url.Action("Login", "Account"))">
                <i class="far fa-undo-alt"></i> 返回登入頁
              </a>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- 訊息 Dialog -->
    <div class="modal fade" id="infoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="infoModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body text-center h5 fw-bolder pt-5">
            <div v-html="infoMsg"></div>
          </div>
          <div class="modal-footer border-top-0 justify-content-center">
            <button type="button" class="btn btn-secondary" v-on:click="closeInfo">關閉</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script>
  var app = new Vue({
    el: '#forgetPassword',
    data: {
      pid: null,
      email: null,
      validCode: null,
      encryptedCode: '@Html.Raw(_encryptedCode)',
      isPid: true,
      isEmail: true,
      isValidCode: true,
      hasError: false,
      infoMsg: null,
    },
    methods: {
      checkPid() {
        // 帳號輸入檢核
        this.isPid = this.pid && this.pid.length > 0;
      },

      checkEmail() {
        // email輸入檢核
        if (this.email.length > 0) {
          const emailRegex = /^[A-Za-z0-9._%+-]+@@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$/;
          const checkEmail = emailRegex.test(this.email);
          this.isEmail = checkEmail;
        }
      },

      checkValidCode() {
        // 驗證碼輸入檢核
        this.isValidCode = this.encryptedCode && this.encryptedCode.length > 0;
      },

      // ajax 送出表單
      forgetPwdHandler() {
        const self = this;
        // 帳號及Email輸入檢核
        this.isPid = !!this.pid;
        this.isEmail = !!this.email;
        this.isValidCode = !!this.validCode;
        if (!this.isPid || !this.isEmail || !this.isValidCode) return;

        this.checkEmail();
        if (!this.isEmail) return;

        showLoading();
        const payload = {
          pid: this.pid,
          Email: this.email,
          Item: "forgetPassword"
        };
        $.ajax({
          type: "Post",
          url: '@(Url.Action("PasswordApply", "Account"))',
          data: JSON.stringify(payload),
          contentType: "application/json;charset=utf-8",
          success: function (data) {
            hideLoading();
            self.hasError = data.hasError;
            if (data.hasError) {
              // 失敗
              self.infoMsg = `<div class="pb-2 text-danger opacity-75" style="font-size: 4rem"><i class="far fa-exclamation-circle"></i></div><div class="lh-base"> ${data.message.replace(/、/g, '<br>')} </div>`;
            } else {
              // 成功
              self.infoMsg = `<div class="pb-2 text-success opacity-75" style="font-size: 4rem"><i class="far fa-check-circle"></i></div><div class="lh-base">已發送重設密碼說明到您的信箱。<br>請至信箱查閱，並依照說明進行密碼設定，謝謝。</div>`;
            }
            $("#infoModal").modal("show");
          },
          error: function (xhr) {
            hideLoading();
            console.log(xhr.status);
          }
        });
      },

      closeInfo() {
        $("#infoModal").modal("hide");
        if (!this.hasError) {
          window.location.href = '@(Url.Action("Login", "Account"))';
        }
      }
    }
  });
</script>
