@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding

@using ContractHome.Helper
@using ContractHome.Controllers
@using ContractHome.Models.DataEntity
@using ContractHome.Models.ViewModel
@using CommonLib.Utility
@using Newtonsoft.Json
@{
  Layout = "~/Views/Shared/MasterPage.cshtml";
  ModelStateDictionary _modelState;
  ModelSource? models;
  ContractSealRequest _model = (ContractSealRequest)this.Model;
  models = (ModelSource?)ViewContext.HttpContext.Items["Models"];
  _modelState = (ModelStateDictionary)ViewBag.ModelState;
  QueryViewModel _viewModel = (QueryViewModel)ViewBag.ViewModel;
  DateTime today = DateTime.Now;

  String _validCode;
  String _encryptedCode;

  _validCode = 6.CreateRandomStringCode();
  _encryptedCode = _validCode.EncryptData();
}
<main id="login" class="login__wrapper bg-secondary" v-cloak>
  <div class="login__signin">
    <form ref="form" v-on:submit.prevent id="loginForm" novalidate accept-charset="UTF-8" role="form" method="post"
      autocomplete="off">
      <div class="card border-0 mb-3 shadow">
        <div class="row g-0">
          <div class="col-xl-8 p-5 login__intro bg-secondary bg-opacity-10">
            <img src="~/images/uxSign-logo.png" class="py-3">
            <h1 class="h2 fw-bolder pt-2">雲端文件簽署，簡化簽署步驟</h1>
            <p class="text-white">高效率完成線上文件簽署，並獲取具有法律約束力的電子簽名。</p>
          </div>
          <div class="col-xl-4 align-self-center p-5">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <h4 class="text-center fw-bolder">登入</h4>
                </div>
                <div class="col-xl-12 col-lg-6 col-md-12 input__loginHeight">
                  <label for="userAccount" class="fw-bolder">帳號</label>
                  <input v-model.trim="formData.pid" type="text" id="userAccount" class="form-control form-control-sm"
                    :class="{'is-invalid': !isPid}" name="userAccount" required autofocus v-on:keyup="checkPid">
                  <div class="invalid-feedback text-end">
                    請輸入帳號
                  </div>
                </div>
                <div class="col-xl-12 col-lg-6 col-md-12 input__loginHeight">
                  <label for="userPwd" class="fw-bolder">密碼</label>
                  <input v-model.trim="formData.password" type="password" id="userPwd"
                    class="form-control form-control-sm" :class="{'is-invalid': !isPassword}"
                    v-on:keyup="checkPassword()" name="Password" autocomplete="on">
                  <div class="invalid-feedback text-end">
                    請輸入密碼
                  </div>
                </div>
                <div class="col-xl-12 col-lg-6 col-md-12 input__loginHeight">
                  <label for="ValidCode" class="fw-bolder">請輸入驗證碼</label>
                  <div class="d-flex justify-content-between">
                    <div class="col-7">
                      <input v-model="formData.validCode" type="text" id="ValidCode"
                        class="form-control form-control-sm" :class="{'is-invalid': !isValidCode}" name="ValidCode"
                        v-on:keyup="checkValidCode">
                      <div class="invalid-feedback text-end">
                        請輸入驗證碼
                      </div>
                    </div>
                    <div class="col captchaImg"
                      style="max-height:31px;background-image: url('@Html.Raw(Url.Action("CaptchaImg", "Account", new { code = _encryptedCode }))')">
                    </div>
                  </div>
                </div>
                <div class="col-12 hstack gap-3 py-3">
                  <div>
                    <input v-model="formData.rememberAccount" class="form-check-input" type="checkbox"
                      id="rememberAccount" v-on:change="changeRememberAccount">
                    <label class="form-check-label" for="rememberAccount">
                      記住帳號
                    </label>
                  </div>
                  <div class="ms-auto">
                    <a class="fs-6" href="@(Url.Action("ForgetPassword","Account"))">忘記密碼</a>
                  </div>
                </div>

                <div class="col-12">
                  <button type="button" class="w-100 btn btn-primary" v-on:click="loginHandler" elevation="2">
                    登入</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="login__footer">
        © @(today.Year) UXB2B All Rights Reserved. 網際優勢 版權所有
        <br>
        榮獲 財團法人全國認證基金會 (TAF) 國際ISO/IEC 27001: 2013 (CNS 27001: 2014) 資訊安全管理系統驗證
        <br>
        <a class=" navbar-brand" href="@Url.Action("Personal", "Home")">個資保護</a>
        |
        <a class=" navbar-brand" href="@Url.Action("Privacy", "Home")">隱私政策</a>
        |
        <a class=" navbar-brand" href="@Url.Action("Security", "Home")">安全宣告</a>
        |
        <a class=" navbar-brand" href="@Url.Action("Gdpr", "Home")">GDPR 聲明</a>
      </div>
    </form>
    <!-- 訊息 Dialog -->
    <div class="modal fade" id="infoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="infoModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body text-center h5 fw-bolder pt-5">
            <div v-html="infoMsg"></div>
          </div>
          <div class="modal-footer border-top-0 justify-content-center">
            <button type="button" class="btn btn-secondary" v-on:click="closeInfo">關閉</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script>
  var app = new Vue({
    el: '#login',
    data: {
      isValidate: false,
      formData: {
        pid: null,
        password: null,
        rememberAccount: false,
        validCode: null,
        encryptedCode: '@Html.Raw(_encryptedCode)',
          returnUrl: '@(Url.IsLocalUrl(Context.Request.Query["ReturnUrl"]) ? Context.Request.Query["ReturnUrl"]:"")'
      },
      isPid: true,
      isPassword: true,
      isValidCode: true,
      infoMsg: null,
    },
    mounted() {
        const savedAccount = localStorage.getItem("SavedAccount");
        if (savedAccount) {
            this.formData.pid = savedAccount;
            this.formData.rememberAccount = true;
        }
    },
    methods: {
      checkPid() {
        // 帳號輸入檢核
        this.isPid = this.formData.pid && this.formData.pid.length > 0;
      },

      checkPassword() {
        // password輸入檢核
        this.isPassword = this.formData.password && this.formData.password.length > 0;
      },

      checkValidCode() {
        // 驗證碼輸入檢核
        this.isValidCode = this.formData.validCode && this.formData.validCode.length > 0;
      },

      loginHandler() {
        const self = this;
        // 帳號及Password輸入檢核
        this.isPid = !!this.formData.pid;
        this.isPassword = !!this.formData.password;
        this.isValidCode = !!this.formData.validCode;
        if (!this.isPid || !this.isPassword || !this.isValidCode) return;

        // ajax 送出表單
        showLoading();
        $.ajax({
          type: 'post',
          url: '@(Url.Action("CheckLogin", "Account"))',
          data: JSON.stringify(this.formData),
          contentType: "application/json;charset=utf-8",
          success: function (data) {
            hideLoading();
            if ($.isPlainObject(data)) {
              if (data.result) {
                // 記住帳號
                if (self.formData.rememberAccount) {
                   localStorage.setItem("SavedAccount", self.formData.pid);
                } else {
                   localStorage.removeItem("SavedAccount");
                }
                // 成功導頁
                window.location.href = (self.formData.returnUrl !== '') ? self.formData.returnUrl : data.message;

              } else {
                // 失敗
                self.infoMsg = `<div class="pb-2 text-danger opacity-75" style="font-size: 4rem"><i class="far fa-exclamation-circle"></i></div><div class="lh-base"> ${data.message.replace(/、/g, '<br>')} </div>`;
                $("#infoModal").modal("show");
              }
            } else {
              $(data).appendTo($('body')).remove();
            }
          },
          error: function (xhr, ajaxOptions, thrownError) {
            hideLoading();
            console.log(xhr.status);
            console.log(thrownError);
          }
        });
      },

      closeInfo() {
        $("#infoModal").modal("hide");
      },

      changeRememberAccount() {
        if (!this.formData.rememberAccount) {
            localStorage.removeItem("SavedAccount");
        }
      }
    }
  });
</script>
