@using ContractHome.Helper
@using CommonLib.Utility
@using ContractHome.Models.ViewModel
@using static ContractHome.Controllers.AccountController
@{
  var jsEncoder = System.Text.Encodings.Web.JavaScriptEncoder.Create(System.Text.Unicode.UnicodeRanges.All);
  Layout = "~/Views/Shared/MasterPage.cshtml";

  String _validCode;
  String _encryptedCode;

  _validCode = 6.CreateRandomStringCode();
  _encryptedCode = _validCode.EncryptData();
  PasswordResetViewModel _model = (PasswordResetViewModel)this.Model;

  @if (TempData["message"] != null)
  {
    <script>alert('@Html.Raw(jsEncoder.Encode(TempData["message"].ToString()))'); window.location.href = '@(Url.Action("Login", "Account"))';</script>
  }

}

<main id="resetPassword" class="login__wrapper bg-secondary" v-cloak>
  <div class="login__forgetPassword">
    <form ref="form" v-on:submit.prevent id="forgetPwdForm" novalidate accept-charset="UTF-8" role="form" method="post"
      autocomplete="off">
      <div class="card mb-3 p-5 shadow">
        <div class="container">
          <div class="col-12">
            <input type="text" id="token" name="Token" value=@(_model?.Token ?? "") hidden />
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <img src="~/images/uxSign-logo.png" class="forgetPwd py-3">
              <h3 class="py-3 text-center fw-bolder">重設密碼</h3>
            </div>
            <div class="col-12 input__loginHeight">
              <label for="userAccount" class="fw-bolder">帳號</label>
              <input v-model="pid" type="text" id="userAccount" class="form-control form-control-sm"
                :class="{'is-invalid': !isPid}" name="userAccount" autofocus v-on:keyup="checkPid">
              <div class="invalid-feedback text-end">
                請輸入帳號
              </div>
            </div>
            <div class="col-12 input__loginHeight">
              <label for="password" class="fw-bolder">請輸入您的新密碼</label>
              <input v-model="password" type="password" id="password" class="form-control form-control-sm"
                :class="{'is-invalid': !isPassword}" name="password" autofocus
                v-on:keyup="checkPassword();validateString(password)">
              <div class="invalid-feedback text-end">
                請輸入有效的密碼
              </div>
            </div>
            <div class="col-12 input__loginHeight">
              <label for="ValidCode" class="fw-bolder">驗證碼</label>
              <div class="d-flex justify-content-between">
                <div class="col-7">
                  <input v-model="validCode" type="text" id="ValidCode" class="form-control form-control-sm"
                    :class="{'is-invalid': !isValidCode}" name="ValidCode" v-on:keyup="checkValidCode">
                  <div class="invalid-feedback text-end">
                    請輸入驗證碼
                  </div>
                </div>
                <div class="col captchaImg"
                  style="max-height:31px;background-image: url('@Html.Raw(Url.Action("CaptchaImg", "Account", new { code = _encryptedCode }))')">
                </div>
              </div>
            </div>
            <div class="col-12 pt-2">
              <div class="alert bg-warning bg-opacity-25">
                <ul class="mb-0 small">
                  <li>至少有一個數字和一個特殊符號</li>
                  <li>至少有一個大寫或小寫英文字母</li>
                  <li>字串長度在 8 ~ 30 個字母之間</li>
                </ul>
              </div>
            </div>
            <div class="col-12 pt-3">
              <button type="button" class="btn btn-lg btn-primary w-100" v-on:click="resetPwdHandler" elevation="2">
                送出
              </button>
            </div>
            <div class="col-12 pt-5 text-center">
              <a class="btn btn-light" href="@(Url.Action("Login", "Account"))">
                <i class="far fa-undo-alt"></i> 返回登入頁
              </a>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- 訊息 Dialog -->
    <div class="modal fade" id="infoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="infoModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body text-center h5 fw-bolder pt-5">
            <div v-html="infoMsg"></div>
          </div>
          <div class="modal-footer border-top-0 justify-content-center">
            <button type="button" class="btn btn-secondary" v-on:click="closeInfo">關閉</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script>
  var app = new Vue({
    el: '#resetPassword',
    data: {
      pid: null,
      password: null,
      validCode: null,
      encryptedCode: '@Html.Raw(_encryptedCode)',
      isPid: true,
      isPassword: true,
      isValidCode: true,
      hasError: false,
      infoMsg: null,
    },
    methods: {
      checkPid() {
        // 帳號輸入檢核
        this.isPid = this.pid && this.pid.length > 0;
      },

      checkPassword() {
        // 密碼輸入檢核
        this.isPassword = this.password && this.password.length > 0;
      },

      // 驗證碼輸入檢核
      checkValidCode() {
        this.isValidCode = this.validCode && this.validCode.length > 0;
      },

      validateString(inputString) {
        // 至少有一個數字
        const hasNumber = /[0-9]+/.test(inputString);

        // 至少有一個特殊符號
        const hasSymbol = /[!@@#$%^&*()_+=[\]{};':"\\|,.<>/?]+/.test(inputString);

        // 至少有一個大寫或小寫英文字母
        const hasLetter = /[a-zA-Z]+/.test(inputString);

        // 字串長度在 8 ~ 30 個字母之間
        const isLengthValid = inputString.length >= 8 && inputString.length <= 30;

        // 檢查所有條件是否都滿足
        this.isPassword = hasNumber && hasSymbol && hasLetter && isLengthValid;
        return hasNumber && hasSymbol && hasLetter && isLengthValid;
      },

      // ajax 送出表單
      resetPwdHandler() {
        const self = this;
        // 帳號及Email輸入檢核
        this.isPid = !!this.pid;
        this.isPassword = !!this.password;
        this.isValidCode = !!this.validCode;
        if (!this.isPid || !this.isPassword || !this.isValidCode) return;

        if (!this.validateString(this.password)) return;

        const payload = {
          Password: this.password,
          PID: this.pid,
          Token: $("input[name=Token]").val()
        };
        $.ajax({
          type: "Post",
          url: '@(Url.Action("PasswordReset", "Account"))',
          contentType: "application/json;charset=utf-8",
          data: JSON.stringify(payload),
          success: function (data) {
            hideLoading();
            self.hasError = data.hasError;
            if (data.hasError) {
              // 失敗
              self.infoMsg = `<div class="pb-2 text-danger opacity-75" style="font-size: 4rem"><i class="far fa-exclamation-circle"></i></div><div class="lh-base"> ${data.message.replace(/、/g, '<br>')} </div>`;
            } else {
              // 成功
              self.infoMsg = `<div class="pb-2 text-success opacity-75" style="font-size: 4rem"><i class="far fa-check-circle"></i></div><div class="lh-base">密碼更新已完成。<br>請使用新密碼重新登入，謝謝。</div>`;
            }
            $("#infoModal").modal("show");
          },
          error: function (xhr) {
            hideLoading();
            console.log(xhr.status);
          }
        });
      },

      closeInfo() {
        $("#infoModal").modal("hide");
        if (!this.hasError) {
          window.location.href = '@(Url.Action("Login", "Account"))';
        }
      }


    }
  });
</script>
