@using static ContractHome.Controllers.AccountController;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var jsEncoder = System.Text.Encodings.Web.JavaScriptEncoder.Create(System.Text.Unicode.UnicodeRanges.All);
    Layout = "~/Views/Shared/MasterPage.cshtml";
    PasswordResetViewModel _model = (PasswordResetViewModel)this.Model;

    @if (TempData["message"] != null)
    {
        <script>alert('@Html.Raw(jsEncoder.Encode(TempData["message"].ToString()))'); window.location.href = '@(Url.Action("Login", "Account"))';</script>
    }

}

<main id="login" class="login__wrapper bg-secondary">
    <div class="login__forgetPassword">
        <form ref="form" v-on:submit.prevent id="forgetPwdForm" accept-charset="UTF-8" role="form" method="post"
              autocomplete="off">
            <div class="card mb-3 p-5 shadow">
                <div class="container">
                    <div class="col-12 input__loginHeight">
                        <input type="text" id="token" name="Token" value=@(_model?.Token ?? "") hidden />
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <img src="~/images/uxSign-logo.png" class="forgetPwd py-3">
                            <h3 class="py-3 text-center fw-bolder">重設密碼</h3>
                        </div>
                        <p class="mb-1">請輸入您的新密碼</p>
                        <div class="col-12 input__loginHeight">
                            <label for="password" class="fw-bolder">Password</label>
                            <input v-model="password" type="text" id="password" class="form-control"
                                   :class="{'is-invalid': isContactPassword}" name="Password" autofocus v-on:keyup="checkPassword(password)" />
                            <div class="invalid-feedback">
                                請輸入有效的密碼
                            </div>
                        </div>
                        <div class="col-12 pt-4">
                            <button type="button" onclick="forgetPwdHandler()">
                                送出
                            </button>
                        </div>
                        <div class="col-12 pt-5 text-center">
                            <a class="btn btn-light" href="@(Url.Action("Login", "Account"))">
                                <i class="far fa-undo-alt"></i> 返回登入頁
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
<script>
    var app = new Vue({
        el: '#login',
        data: {
            isValidate: false,
            isContactPassword: false,
            password: null,
        },
        methods: {
            checkPassword(passwordString) {
                //// email輸入檢核
                //if (emailString.length > 0) {
                //    const emailRegex = /^[A-Za-z0-9._%+-]+@@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$/;
                //    const checkEmail = emailRegex.test(emailString);
                //    this.isContactEmail = !checkEmail;
                //    return this.isValidate = checkEmail;
                //}
            }


          }
        
    });



    // ajax 送出表單
    function forgetPwdHandler() {
        aaa = {
            "Password": $("input[id=password]").val(),
                    "Token": $("input[name=Token]").val()
        },
            $.ajax({
                url: '@(Url.Action("PasswordReset", "Account"))',
                contentType: "application/json;charset=utf-8",
                type: "Post",
                data: JSON.stringify(aaa),
                success: function (data) {
                    if (data.hasError) { alertModal(data.message); return; }
                    else 
                    { 
                        alert(data.message);
                        window.location.href = '@(Url.Action("Login", "Account"))'; 
                    }
                },
                error: function (xhr) {

                }
            });
      }
</script>
