@using TWCACAPIAdapter.Controllers;
@{
    //Layout = null;
    var Response = ViewContext.HttpContext.Response;
    var Request = ViewContext.HttpContext.Request;
    var form = Request.Form;
}
@if (UXPKIController.DataSignature != null )
{
    <h1>資料傳送中...</h1>
    <form method="post" action="@(form["formAction"])">
        <input type="hidden" name="dataToSign" value='@Html.Raw(UXPKIController.DataToSign)' />
        <input type="hidden" name="dataSignature" value='@Html.Raw(UXPKIController.DataSignature)' />
        @foreach (var item in form)
        {
            if (item.Key == "dataToSign" || item.Key == "dataSignature")
            {
                continue;
            }
            <input type="hidden" name="@(item.Key)" value='@Html.Raw(item.Value)' />
        }
    </form>
    <script>
        document.forms[0].submit();
    </script>
}
else
{
    <script>
        alert('@Html.Raw(UXPKIController.ErrorMessage)');
        window.history.back();
    </script>
}
