@using ContractHome.Models.DataEntity
@using ContractHome.Helper;
@{
    Layout = "~/Views/Shared/BlankPage.cshtml";
    <script src="~/js/api.js"></script>
    string virtualPath = Context.Request.PathBase.ToString();
    UserProfile _userProfile = ViewBag.UserProfile;

}
<main id="passwordChange" class="fullHeight ">
    <div class="login__forgetPassword">
        <form ref="form" autocomplete="off">
            <div class="card mx-3 mb-3 p-5 shadow">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h3 class="py-3 text-center fw-bolder">帳號與密碼變更</h3>
                        </div>
                        <div class="col-12 input__loginHeight">
                            <label for="PID" class="fw-bolder">帳號</label>
                            <input v-model.trim="form.PID" type="text" id="PID"
                                   class="form-control form-control-sm" placeholder="請輸入帳號" :class="{'is-invalid': pidMsg !== ''}" 
                                   v-on:keyup="checkPID(form.PID)" />
                            <div class="invalid-feedback text-end">
                                {{ pidMsg }}
                            </div>
                        </div>
                        <div class="col-12 pt-2">
                            <div class="alert bg-warning bg-opacity-25">
                                <ul class="mb-0 small">
                                    <li>帳號至少有一個大寫或小寫英文字母</li>
                                    <li>字串長度在 6 ~ 30 個字母之間</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 input__loginHeight">
                            <label for="newPassword" class="fw-bolder">新密碼</label>
                            <input v-model.trim="form.NewPassword" type="password" id="newPassword"
                                   class="form-control form-control-sm" placeholder="請輸入新密碼" :class="{'is-invalid': newMsg !== ''}"
                                   v-on:keyup="checkNewPassword(form.NewPassword)" />
                            <div class="invalid-feedback text-end">
                                {{ newMsg }}
                            </div>
                        </div>
                        <div class="col-12 input__loginHeight">
                            <label for="reNewPassword" class="fw-bolder">確認新密碼</label>
                            <input v-model.trim="form.ReNewPassword" type="password" id="reNewPassword"
                                   class="form-control form-control-sm" placeholder="請再次輸入新密碼"
                                   :class="{'is-invalid': reNewMsg !== ''}"
                                    />
                            <div class="invalid-feedback text-end">
                                {{ reNewMsg }}
                            </div>
                        </div>
                        <div class="col-12 pt-2">
                            <div class="alert bg-warning bg-opacity-25">
                                <ul class="mb-0 small">
                                    <li>密碼至少有一個數字和一個特殊符號(!@@#$%^&*)</li>
                                    <li>至少有一個大寫或小寫英文字母</li>
                                    <li>字串長度在 6 ~ 30 個字母之間</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 pt-1">
                            <button type="button" class="btn btn-lg btn-primary w-100" v-on:click="changePwdHandler" elevation="2">
                                送出
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- 訊息 Dialog -->
        <div class="modal fade" id="infoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="infoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center h5 fw-bolder pt-5">
                        <div v-html="infoMsg"></div>
                    </div>
                    <div class="modal-footer border-top-0 justify-content-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" v-on:click="redirectUrl">關閉</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    var app = new Vue({
      el: '#passwordChange',
      data: {
        pidMsg: '',
        newMsg: '',
        reNewMsg: '',
        form: {
          KeyID: '@Html.Raw(_userProfile.UID.EncryptKey())',
          PID: '@Html.Raw(_userProfile.PID)',
          NewPassword: '',
          ReNewPassword: '',
          Token: '@Html.Raw(ViewBag.Token)'
        },
        changeStatus: false,
        infoMsg: null
      },
      methods: {
        checkPID() {
          this.pidMsg = '';

          if (this.form.PID === '') {
             this.pidMsg = '請輸入帳號';
             return;
          }

          if (!this.validatePIDFormat(this.form.PID)) {
             this.pidMsg = '帳號格式錯誤';
          }
        },
        checkNewPassword() {
          this.newMsg = '';

          if (this.form.NewPassword === '') {
             this.newMsg = '請輸入新密碼';
             return;
          }

          if (!this.validatePasswordFormat(this.form.NewPassword)) {
             this.newMsg = '新密碼格式錯誤';
          }
        },
        checkReNewPassword() {
          this.reNewMsg = (this.form.ReNewPassword === '') ? '請輸入確認新密碼' : '';
        },
        // 比對新密碼是否一致
        comparePassword() {
          this.reNewMsg = (this.form.NewPassword !== this.form.ReNewPassword) ? '新密碼與確認新密碼輸入不一致' : '';
        },
        // 密碼欄位檢核
        validatePIDFormat(content) {
          const regex = /^(?=.*[a-z]).{6,30}$/;
          return regex.test(content);
        },
        // 密碼欄位檢核
        validatePasswordFormat(content) {
          const regex = /^(?=.*\d)(?=.*[!@@#$%^&*])(?=.*[a-z]).{6,30}$/;
          return regex.test(content);
        },
        // 送出表單
        changePwdHandler() {
          
          this.checkPID();
          this.checkNewPassword();
          this.checkReNewPassword();

          if (this.pidMsg !== '' || this.newMsg !== '' || this.reNewMsg !== '') return;

          this.comparePassword();

          if (this.reNewMsg !== '') return;

          showLoading();
          postData('@($"{virtualPath}/api/UserProfile/PIDAndPasswordUpdate")', { ...this.form })
            .then((data) => {
              hideLoading();
              this.changeStatus = data.result;
              if (data.result) {
                // 成功
                this.infoMsg = `<div class="pb-2 text-success opacity-75" style="font-size: 4rem"><i class="far fa-check-circle"></i></div><div class="lh-base"> 帳號密碼變更成功，請按關閉並繼續下一步動作 </div>`;
              } else {
                // 失敗
                this.infoMsg = `<div class="pb-2 text-danger opacity-75" style="font-size: 4rem"><i class="far fa-exclamation-circle"></i></div><div class="lh-base"> ${data.message.replace(/、/g, '<br>')} </div>`;
              }

              $("#infoModal").modal("show");
            })
        },

        redirectUrl() {
          if (this.changeStatus) {
            window.location.href = '@(Url.Action("Trust", "ContractConsole"))?token=' + this.form.Token;
          }
        },
      }
    });
</script>
