@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding

@using ContractHome.Helper
@using ContractHome.Controllers
@using ContractHome.Models.DataEntity
@using ContractHome.Models.ViewModel
@using ContractHome.Helper.DataQuery
@using CommonLib.Utility
@using Newtonsoft.Json
@{

  ModelStateDictionary _modelState;
  ModelSource? models;

  models = (ModelSource?)ViewContext.HttpContext.Items["Models"];
  _modelState = (ModelStateDictionary)ViewBag.ModelState;
  QueryViewModel _viewModel = (QueryViewModel)ViewBag.ViewModel;
  var profile = (await Context.GetUserAsync()).LoadInstance(models!);
}

<div id="mainNavBar">
  <header class="border__uxb2b--bottom shadow__card">
    <nav class="navbar navbar-expand-lg navbar-light navbar-uxb2b py-0">
      <div class="container-fluid">
        <a class="navbar-brand" href="@Url.Action("ListToStampIndex", "ContractConsole")">
          <img src="~/images/uxSign-logo.png" alt="UX SIGN" style="height: 40px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto ms-3 mb-2 mb-lg-0">
            <!--
            <li class="nav-item">
              <a class="nav-link fs-5 fw-bolder" aria-current="page"
                href="@Html.Raw(Url.Action("Index", "ContractTemplate"))">
                <i class="fas fa-file-contract"></i>
                範本
              </a>
            </li>
            -->
            <li class="nav-item">
              <a class="nav-link fs-5 fw-bolder" href="@Html.Raw(Url.Action("ListToStampIndex","ContractConsole"))">
                <i class="fas fa-file-signature"></i>
                文件
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5 fw-bolder" href="@Html.Raw(Url.Action("QueryIndex","ContractConsole"))">
                <i class="fas fa-search"></i>
                查詢
              </a>
            </li>
          </ul>

          <ul class="navbar-nav mb-2 mb-lg-0 ps-3 d-none d-lg-block">
            <li class="fw-bolder">@Html.Raw(profile.OrganizationUser?.Organization.CompanyName)
              @Html.Raw(profile.PID) 您好！</li>
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0 ps-3">
            <li class="nav-item dropdown">
              <a class="d-flex align-items-center nav-link dropdown-toggle" href="#" id="navbarDropdown"
                data-bs-toggle="dropdown" aria-expanded="false">
                <span style="font-size: 2rem;"><i class="fas fa-user-circle"></i></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-end shadow__card" aria-labelledby="navbarDropdown">
                @if (profile.IsAuthorized((int)UserRoleDefinition.RoleEnum.SystemAdmin))
                {
                  <li>
                    <a class="dropdown-item" href="@Html.Raw(Url.Action("MaintainData","UserProfile"))">
                      使用者管理
                    </a>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                }
                @* @if (profile.IsSysAdmin()) *@
                @if (profile.IsAuthorized((int)UserRoleDefinition.RoleEnum.SystemAdmin))
                {
                  <li>
                    <a class="dropdown-item" href="@Html.Raw(Url.Action("MaintainData","Organization"))">公司資料管理</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="@Html.Raw(Url.Action("HistoryReport","Organization"))">簽署文件報表</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="@Html.Raw(Url.Action("WebSocket","Organization"))">WebSocket
                      測試</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="@Html.Raw(Url.Action("signHistoryPaper","Organization"))"
                      target="_blank">簽署歷程文件樣板</a>
                  </li>
                }
                @if (profile.IsAuthorized((int)UserRoleDefinition.RoleEnum.MemberAdmin,
                (int)UserRoleDefinition.RoleEnum.User))
                {
                  <li>
                    <a class="dropdown-item" href="@Html.Raw(Url.Action("PasswordChangeView","UserProfile"))">密碼變更</a>
                  </li>
                }
                <li><a class="dropdown-item" href="@Html.Raw(Url.Action("MaintainSeal","Organization"))">印鑑檔管理</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="@(Url.Action("Logout", "Account"))">登出</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>