@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding

@using ContractHome.Helper
@using ContractHome.Controllers
@using ContractHome.Models.DataEntity
@using ContractHome.Models.ViewModel
@using CommonLib.Utility
@using Newtonsoft.Json
@using System.Text.RegularExpressions

@{
  Layout = "~/Views/Shared/MasterPage.cshtml";

  ModelStateDictionary _modelState;
  ModelSource? models;
  ContractSignatureRequest _model = (ContractSignatureRequest)this.Model;

  models = (ModelSource?)ViewContext.HttpContext.Items["Models"];
  _modelState = (ModelStateDictionary)ViewBag.ModelState;
  QueryViewModel _viewModel = (QueryViewModel)ViewBag.ViewModel;

  var party = _model.Contract.ContractingParty.Where(p => p.CompanyID == _model.CompanyID).First();
}
<div id="AffixPdfSealImage" class="container-fluid py-4 pb-3">
  <section>
    <!-- 標題 - 甲方 / 乙方 -->
    @{
      await Html.RenderPartialAsync("~/Views/Shared/Global/PageResource.cshtml");
      await Html.RenderPartialAsync("~/Views/SiteAction/FunctionTitleBar.cshtml", party.ContractingIntent.Description);
    }
    <div class="row" style="height: calc(100vh - 160px);">
      <!-- 合約影像檔 -->
      <div class="col col-xl-10 col-md-8 contract__wrapper">
        <div class="contract__arrow--left">
          <button type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="上一頁"
            class="btn btn-lg btn-secondary rounded-pill opacity-50" onclick="commitData('prev')">
            <i class="fas fa-chevron-left"></i>
          </button>
        </div>
        <div class="card pdf__wrapper">
          @{
            await Html.RenderPartialAsync("~/Views/ContractConsole/Module/ShowContractImage.cshtml", _model.Contract);
          }
        </div>
        <div class="contract__arrow--right">
          <button type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="下一頁"
            class="btn btn-lg btn-secondary rounded-pill opacity-50" onclick="commitData('next')">
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
      </div>
      <!-- 操作介面 -->
      <div class="col col-xl-2 col-md-4">
        @if (_model.StampDate.HasValue)
        {
          <h5 class="h5 fw-bolder text-center">
            合約已用印，@(_model.StampDate)
          </h5>
        }
        else
        {
          <div id="toAffix" class="row ps-2 pe-4">
            <form method="post" enctype="multipart/form-data">
              <div class="card p-3 mb-3">
                <h5 class="h5 fw-bolder text-primary">Step 1：指定合約雙方</h5>
                <div class="mb-2">
                  <label for="Initiator" class="form-label h6 text-secondary fw-bolder mb-1">起約方</label>
                  <select id="Initiator" name="Initiator" class="form-select form-select-sm">
                    <option value="0" selected="0">網際優勢甲方公司</option>
                  </select>
                </div>
                <div>
                  <label for="Contractor" class="form-label h6 text-secondary fw-bolder mb-1">簽約方 (按 Ctrl 鍵可複選)</label>
                  <select id="Contractor" name="Contractor" class="form-select form-select-sm" multiple
                    aria-label="multiple select">
                    <option value="0">網際優勢乙方公司</option>
                    <option value="1">網際優勢丙方公司</option>
                    <option value="2">網際優勢丁方公司</option>
                    <option value="3">網際優勢戊方公司</option>
                    <option value="4">網際優勢己方公司</option>
                  </select>
                </div>
              </div>

              <div class="card p-3 mb-3">
                <h5 class="h5 fw-bolder text-primary">Step 2：創建欄位</h5>
                <div class="pb-3">
                  <label class="form-label fw-bolder" for="PageIndex">選擇用印所在頁碼</label>
                  <select name="PageIndex" class="form-select form-select-sm">
                    <option value="0" selected="0">第 1 頁</option>
                    @for (int i = 0; i < GetPdfPageCount(_model.Contract); i++)
                    {
                      <option value="@(i)" selected="@(i==_model.PageIndex)">第@(i + 1)頁</option>
                    }
                  </select>
                  <script>
                    $('select[name="PageIndex"]').on('change', function () {
                      loadContractPage($('select[name="PageIndex"]').val());
                    });
                  </script>
                </div>
                <div>
                  <button type="button" onclick="sealHandler()" class="btn btn-primary opacity-75 w-100">
                    <i class="fas fa-stamp"></i> 選擇印鑑
                  </button>
                </div>
              </div>

              <div class="pb-3">
                <label class="form-label fw-bolder" for="SealImage">請選擇印鑑章</label>
                <input type="file" class="form-control form-control-sm" id="SealImage" name="SealImage" />
              </div>

              <div class="pb-3">
                <label class="form-label fw-bolder" for="MarginTop">請指定上邊界位置(公分)</label>
                <input type="text" class="form-control form-control-sm" id="MarginTop" name="MarginTop"
                  value="@(_model?.MarginTop ?? 0)" />
              </div>
              <div class="pb-3">
                <label class="form-label fw-bolder" for="MarginLeft" style="white-space: nowrap;">請指定左邊界位置(公分)</label>
                <input type="text" class="form-control form-control-sm" id="MarginLeft" name="MarginLeft"
                  value="@(_model?.MarginLeft ?? 0)" />
              </div>
              <div class="pb-3">
                <label class="form-label fw-bolder" for="SealScale" style="white-space: nowrap;">印鑑章縮放比例(%)</label>
                <input type="text" class="form-control form-control-sm" id="SealScale" name="SealScale"
                  value="@(_model?.SealScale ?? 100)" />
              </div>
              <div class="row g-2">
                <div class="col-8">
                  <button type="button" onclick="commitSignature(false);" class="btn btn-primary opacity-75 w-100">
                    <i class="fas fa-stamp"></i> 送出合約
                  </button>
                </div>
                <div class="col-4">
                  <button type="button" onclick="commitSignature(true);" class="btn btn-success opacity-75 w-100">
                    <i class="fas fa-file-pdf"></i> 預覽
                  </button>
                </div>
              </div>
            </form>
            <script>
              function commitSignature(preview) {
                clearErrors();
                $global.viewModel.Preview = preview;
                $('form').ajaxForm({
                  url: '@Html.Raw(Url.Action("CommitPdfSignature", "ContractConsole"))',
                  data: $global.viewModel,
                  beforeSubmit: function () {
                    showLoading();
                  },
                  success: function (data) {
                    hideLoading();
                    if ($.isPlainObject(data)) {
                      if (data.result) {
                        if (preview) {
                        } else {
                          alertModal('已用印完成!!');
                        }
                        loadContractPage($('select[name="PageIndex"]').val());
                      } else {
                        alertModal(data.message);
                      }
                    }
                    else {
                      $(data).appendTo($('body'));
                    }
                  },
                  error: function (xhr, ajaxOptions, thrownError) {
                    hideLoading();
                    console.log(xhr.status);
                    alertModal(thrownError);
                  }
                }).submit();
              }

              function loadContractPage(pageIndex) {
                showLoading();
                $.post('@Html.Raw(Url.Action("LoadContractPage","ContractConsole"))', { 'KeyID': '@Html.Raw(_model!.ContractID.EncryptKey())', 'PageIndex': pageIndex }, function (data) {
                  hideLoading();
                  if ($.isPlainObject(data)) {
                    $('#contractImg').css(data);
                  } else {
                    $(data).appendTo($('body'));
                  }
                });
              }
            </script>
          </div>
        }
        <!-- 印章 Modal -->
        <div class="modal fade" id="sealModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="sealModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header border-bottom-0">
                <h5 class="modal-title fw-bolder" id="staticBackdropLabel">選擇印章</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form method="post" enctype="multipart/form-data" class="pt-3 pb-5 text-center">
                  <div class="row g-3">
                    @for (int i = 0; i < 5; i++)
                    {
                      <div class="d-flex align-items-stretch col-md-3 col-sm-12" style="height: 150px;">
                        <div class="card p-3 w-100 h-100 block--hover block--border" onclick="useSealHandler(@(i))">
                          <div class="d-inline-flex h-100 w-100 justify-content-center align-items-center">
                            <img id="frame" src="http://fakeimg.pl/300x250/?text=Seal" class="mh-100" />
                          </div>
                          <div
                            class="btn btn-sm btn-danger opacity-75 rounded-pill icon__rounded operation__card block--show">
                            <i class="fas fa-check"></i>
                          </div>
                        </div>
                      </div>
                    }
                    <!-- 新增印鑑檔 -->
                    <div class="d-flex align-items-stretch col-md-3 col-sm-12" style="height: 150px;">
                      <label for="formFile" class="form-label w-100 h-100 mb-0">
                        <div class="card justify-content-center align-items-center h-100 w-100 block--hover">
                          <a class="btn btn-lg btn-success rounded-pill opacity-75">
                            <i class="fal fa-file-plus"></i>
                          </a>
                          <span class="h6 fw-bolder p-2">新增印鑑檔</span>
                          <input id="formFile" class="form-control" type="file" onchange="addSealHandler()">

                          <!--div class="btn btn-lg btn-success rounded-pill opacity-75">
                          <i class="fal fa-file-plus"></i>
                        </!--div -->
                        </div>
                      </label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  // 開啟印鑑 Modal
  function sealHandler() {
    $('#sealModal').modal('show');
  }

  // 選擇印鑑
  function useSealHandler(index) {
    console.log(index);
    $('#sealModal').modal('hide');
    console.log(sealList);
    // 產生一個虛擬box
    const sealBox = document.createElement("div");
    sealBox.setAttribute('id', 'vmSeal'); // 動態產生
    sealBox.setAttribute('class', 'vmSeal');
    document.querySelector("#contractImg").appendChild(sealBox);
    // 跟著滑鼠移動
    const contractArea = document.querySelector("#contractImg");
    const elmnt = document.querySelector("#vmSeal");
    //dragElement(elmnt);
    elmnt.onmousedown = function (ev) {
      var oEvent = ev;
      // 浏览器有一些图片的默认事件,这里要阻止
      oEvent.preventDefault();
      var disX = oEvent.clientX - elmnt.offsetLeft;
      var disY = oEvent.clientY - elmnt.offsetTop;
      contractArea.onmousemove = function (ev) {
        oEvent = ev;
        oEvent.preventDefault();
        var x = oEvent.clientX - disX;
        var y = oEvent.clientY - disY;
        console.log({ x, y });

        // 图形移动的边界判断
        x = x <= 0 ? 0 : x;
        x = x >= contractArea.offsetWidth - elmnt.offsetWidth ? contractArea.offsetWidth - elmnt.offsetWidth : x;
        y = y <= 0 ? 0 : y;
        y = y >= contractArea.offsetHeight - elmnt.offsetHeight ? contractArea.offsetHeight - elmnt.offsetHeight : y;
        console.log('ax', x, 'ay:', y);
        elmnt.style.left = x + 'px';
        elmnt.style.top = y + 'px';
      }
      // 图形移出父盒子取消移动事件,防止移动过快触发鼠标移出事件,导致鼠标弹起事件失效
      contractArea.onmouseleave = function () {
        contractArea.onmousemove = null;
        contractArea.onmouseup = null;
      }
      // 鼠标弹起后停止移动
      contractArea.onmouseup = function () {
        contractArea.onmousemove = null;
        contractArea.onmouseup = null;
      }
    }

  }

  function dragElement(elmnt) {

    //var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
    //if (document.getElementById(elmnt.id + "header")) {
    //  /* if present, the header is where you move the DIV from:*/
    //  document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
    //} else {
    //  /* otherwise, move the DIV from anywhere inside the DIV:*/
    //  elmnt.onmousedown = dragMouseDown;
    //}
    //
    //function dragMouseDown(e) {
    //  e = e || window.event;
    //  e.preventDefault();
    //  // get the mouse cursor position at startup:
    //  pos3 = e.clientX;
    //  pos4 = e.clientY;
    //  document.onmouseup = closeDragElement;
    //  // call a function whenever the cursor moves:
    //  document.onmousemove = elementDrag;
    //}
    //
    //function elementDrag(e) {
    //  e = e || window.event;
    //  e.preventDefault();
    //  // calculate the new cursor position:
    //  pos1 = pos3 - e.clientX;
    //  pos2 = pos4 - e.clientY;
    //  pos3 = e.clientX;
    //  pos4 = e.clientY;
    //  // set the element's new position:
    //  elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
    //  elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
    //}
    //
    //function closeDragElement() {
    //  /* stop moving when mouse button is released:*/
    //  document.onmouseup = null;
    //  document.onmousemove = null;
    //}
  }

  // 新增印鑑檔
  let sealList = [];
  function addSealHandler() {
    const sealImg = URL.createObjectURL(event.target.files[0]);
    sealList.push(sealImg);
  }
</script>
@functions
{
  public int GetPdfPageCount(Contract attachment)
  {
    if (attachment == null || !File.Exists(attachment.FilePath))
    {
      return 0;
    }

    var content = File.ReadAllText(attachment.FilePath);
    var match = Regex.Match(content, "/Count(?([^\\r\\n])\\s)\\d+");
    if (match.Value != String.Empty)
    {
      return int.Parse(match.Value.Substring(7));
    }
    return 0;
  }
}
