@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding

@using ContractHome.Helper
@using ContractHome.Controllers
@using ContractHome.Models.DataEntity
@using ContractHome.Models.ViewModel
@using CommonLib.Utility
@using Newtonsoft.Json

@{
    ModelStateDictionary _modelState;
    ModelSource? models;

    models = (ModelSource?)ViewContext.HttpContext.Items["Models"];
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    QueryViewModel _viewModel = (QueryViewModel)ViewBag.ViewModel;

}
@{
    String _paginationID = "pagination" + DateTime.Now.Ticks;
}
@{
    var recordCount = _viewModel.RecordCount;
    if (recordCount > 0)
    {
        <nav aria-label="Page navigation">
            <ul class="pagination" id="@(_paginationID)"></ul>
            <div class="col-lg-2 col-4 input-group">
                每頁筆數：
                <select name="PageSize" class="form-control-sm" onchange="resetPageSize();">
                    <option>10</option>
                    <option>30</option>
                    <option>50</option>
                    <option>100</option>
                    <option value="10000">全部</option>
                </select>
                @if (_viewModel.InitQuery == true)
                {
                    <script>
                        function resetPageSize() {
                            var event = event || window.event;
                            var pageSize = $(event.target).val();
                            if (!isNaN(pageSize)) {
                                $inquiryAgent.viewModel.PageSize = pageSize;
                                $global.viewModel.PageSize = pageSize;
                                $('').launchDownload(document.location.href, $global.viewModel);
                            }
                        }
                    </script>
                }
                else
                {
                    <script>
                        function resetPageSize() {
                            var event = event || window.event;
                            var pageSize = $(event.target).val();
                            if (!isNaN(pageSize)) {
                                $inquiryAgent.viewModel.PageSize = pageSize;
                                $global.viewModel.PageSize = pageSize;
                                $inquiryAgent.inquire();
                            }
                        }
                    </script>
                }
                @if (_viewModel.PageSize.HasValue)
                {
                    <script>
                        $(function () {
                            $('select[name="PageSize"]').val('@(_viewModel.PageSize)');
                        });
                    </script>
                }
            </div>
        </nav>
        <script>
            $(function () {

                var obj = $('#@(_paginationID)').twbsPagination({
                    totalPages: @((recordCount + _viewModel.PageSize - 1) / _viewModel.PageSize),
                    totalRecordCount: @(recordCount),
                    visiblePages: 10,
                    first: '最前',
                    prev: '上頁',
                    next: '下頁',
                    last: '最後',
                    initiateStartPageClick: false,
                    startPage: @((_viewModel.PageIndex ?? 0) + 1),
                    onPageClick: function (event, page) {
                        $inquiryAgent.inquire(page);
                    }
                });
            });
        </script>
    }
}


